.item-ticket{
  display: flex;
  flex-wrap: wrap;
}
.item-ticket > .item {
  width: 300px;
  margin: 1rem;
  cursor: pointer;
}
.item > img {
  background-size: cover;
  width: 300px;
  height: 170px;
}
.mat-card-content {
  width: 300px;
  word-wrap: break-word;
}
