.img_avt {
    border: 5px solid pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: plum;
  }
  .img_avt > h1 {
    text-align: center;
    position: absolute;
    top: 0;
    right: 40%;
  }