<div class="form_signup">
  <mat-card>
    <h1 class="logo_detail" style="color: rgb(153, 44, 255);">
      <span style="color: rgb(102, 160, 247);">Trip</span>Cheap
      <span style="color: rgb(0, 0, 0); font-size: 16px;">/Đăng ký</span>
    </h1>
    <form (submit)='onSignUp(loginForm)' #loginForm = 'ngForm'>
        <mat-form-field class="form_field">
            <mat-label>Tên người dùng</mat-label>
            <input
              matInput
              type="text"
              name = "username"
              ngModel
              #usernameInput = 'ngModel'
              placeholder="Tên người dùng"
              required>
            <mat-error *ngIf="usernameInput.invalid">Vui lòng nhập tên của bạn.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Email</mat-label>
            <input
            matInput
            type="email"
            name = "email"
            ngModel
            #emailInput = 'ngModel'
            placeholder="Ex. example@gmail.com"
            required email>
            <mat-error *ngIf="emailInput.invalid">Vui lòng nhập địa chỉ email.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Mật khẩu</mat-label>
            <input
            matInput
            type="password"
            name = "password"
            ngModel
            #passwordInput = 'ngModel'
            placeholder="Mật khẩu"
            required>
            <mat-error *ngIf="passwordInput.invalid">Vui lòng nhập mật khẩu.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <input
            matInput
            type="password"
            name = "re-password"
            ngModel
            #repasswordInput = 'ngModel'
            placeholder="Nhập lại mật khẩu"
            required>
            <mat-error *ngIf="repasswordInput.invalid">Vui lòng nhập lại mật khẩu.</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" style="width: 100%;  margin-top: 2rem;">Đăng ký</button>
    </form>
    <div style="text-align: center; padding-top: 1rem;">
      <span>Nếu bạn đã có tài khoản, </span> <a mat-button href="/login" routerLinkActive="mat-primary">Đăng nhập</a>
    </div>
  </mat-card>


</div>



