.img-ticket {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.ticket-item {
    display: flex;
    align-items: center;
    margin: 0.25rem;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    background-color: #ffffff;
}
.link-ticket {
    font-size: 14px;
    font-weight: 900;
}