
div {
  box-sizing: border-box;
}
.list {
  /* overflow: hidden; */
  /* width: 1800px; */
  white-space: nowrap;
  overflow:hidden;
  padding-top: 3rem;
}
#list-city {
  width: 100%;
  position: relative;
  /* display: inline-flex; */
  overflow: auto;
}
  .city {
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    /* width: 200px !important; */
    height: 200px !important;
    /* margin: 1rem; */
    background-color: rgba(0,0,0,0.5);
  }
  .name-city {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 28px;
    right: 0px;
    width: 100%;
  }

  .material-icons {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
  }


  /* search */
  .search-container {
    display: inline-flex;
    position: absolute;
    width: 70%;
    right: 13%;
    top: 30%;
    border-radius: 50px;
    margin: 1rem 1rem 3rem 1rem;
    padding: 1rem 1rem;
  }

  .search-result {
    z-index: 2;
    position: absolute;
    width: 70%;
    right: 13%;
    top: 58%;
    border-radius: 13px;
    margin: 1rem 1rem 3rem 1rem;
    padding: 1rem 1rem;
  }

  .search-section {
    border-radius: 50px;
    position: relative;
    /* background-color: white; */
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background:
      center,
      linear-gradient(rgba(51, 30, 78, 0.418), rgba(109, 112, 160, 0.3)),
      url('../../../assets/images/bg1-png.png');
  }

  .input-search {
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 1rem;
    /* padding: 1rem 0; */
  }
  .input-search:focus-visible {
    border-color: white;
    outline-color: white
  }

  .ticket-item {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
  }

  .image-ticket-item-search {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -19px;
  }

  .link-ticket {
    cursor: pointer;
    font-weight: bolder;
  }

  .link-ticket:hover {
    color: rgba(137, 43, 226, 0.822);
  }

  .list-search-ticket {
    flex: 50%;
  }

/* list city */
  .title {
    text-align: center;
    font-size: 25px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: darkblue;;
  }


  /* list ticket */
  .item-ticket{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    align-items: center;
    justify-content: center;
    background-color: #af9fca38;
    padding: 4rem;
    border-radius: 37px;
  }

  .item-ticket > .item {
    width: 270px;
    margin: 1rem;
    cursor: pointer;
  }
  .item > img {
    background-size: cover;
    height: 170px;
  }
  .mat-card-content {
    width: 270px;
    overflow: hidden;
  }
  .content {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .content::after {
    content: "...";
    float: inherit;

  }

  .title-ticket {
    font-size: 16px;
    font-weight: bolder;
  }

  .mat-card-footer {
    padding: 1rem;
    bottom: 3px;
    position: absolute;
    width: 100%;
  }

  .item {
    position: relative;
    padding-bottom: 1rem;
    width: 270px;
    height: 270px;
  }

  /* list category */
  .list-category {
    display: flex;
    /* flex-wrap: wrap; */
  }

  .list-category-item {
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #e1defb;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-category-item:hover {
    background-color: #ecf1fb;
  }

  .list-category-item-name {
    padding-left: 0.7rem;
    font-weight: bolder;
    color: #7878b3;
  }

