
<div class="list-category">
  <div 
    *ngFor="let item of categories; index as i" 
    class="list-category-item"
    (click)="detailCategory(item.name)">
    <span><img src={{srcCategory[i]}} style="width: 30px; height: 30px;"></span>
    <span class="list-category-item-name">{{item.name}}</span>
  </div>

</div>

<div class="search-overlay">
  <section class="search-section">
    <mat-card class="search-container">
        <span><img src="../../../assets/icon/search.svg" style="width: 40px; height: 40px; padding-left: 1rem;"></span>
        <input #inputSearch id="input-search" class="input-search" placeholder="Tìm kiếm theo địa điểm, hoạt động"
          (click) = "searchResult()"
          (keyup.enter) = "onEnter(inputSearch.value)">
    </mat-card>
    <mat-card *ngIf="isShowSearchResult" #searchResult class="search-result">
      <h5>Điểm đến phổ biến</h5>
      <mat-chip-list
        style="padding-bottom: 1rem;"
        class="example-chip"
        cdkDropList
        cdkDropListOrientation="horizontal">
        <mat-chip
          style="background-color: rgb(242, 245, 255);"
          class="example-box"
          cdkDrag
          *ngFor="let item of city"
          (click) = "navigateCity(item.name)">
          {{item.name}}
        </mat-chip>
      </mat-chip-list>

      <div style="display: flex;">
        <div class="list-search-ticket">
          <h5>Hoạt động nổi bật</h5>
          <div class="ticket-item" *ngFor="let ticket of ticketShowSearch">
            <img class="image-ticket-item-search"
              src={{ticket.imagePath[1]}}>
            <div style="padding-left: 0.5rem;">
              <a class="link-ticket"
                (click) = "detailTicket(ticket.id)">{{ticket.title}}</a>
              <p style="line-height: 0.5rem;">{{ticket.city}}</p>
            </div>
          </div>
        </div>
        <div style="flex: 50%; padding-left: 8rem;">
          <h5>Bạn đường du lịch</h5>
          <div class="ticket-item" *ngFor="let cate of categories">
              <a class="link-ticket"
                (click)="detailCategory(cate.name)">{{cate.name}}</a>
          </div>
        </div>
      </div>
    </mat-card>
  </section>
</div>

<div class="list" id="list">
  <div class="title">Địa Danh Nổi Tiếng</div>
  <div id="list-city" #listCity class="owl-carousel owl-theme owl-carousel-01">
    <mat-card
      *ngFor="let item of city; index as i"
      [ngStyle] = "{'background':'center / cover no-repeat  url(' + item.image + ')'}"
      style="background-size: cover;"
      class="city"
      (click) = "navigateCity(item.name)">
      <a class="name-city">{{item.name}}</a>
    </mat-card>
  </div>
</div>

<div style="padding-top: 3rem;">
  <div class="title">Dịch Vụ Được Yêu Thích</div>
  <div class="item-ticket">
    <mat-card
    class="item"
    *ngFor="let item of ticketSpecial; index as i"
    (click) = "detailTicket(item.id)">
      <img *ngIf="item.imagePath !== null" mat-card-image src= {{item.imagePath[0]}} alt= {{item.title}}>
      <mat-card-title class="title-ticket">{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
      <!-- <mat-card-content>
        <p class="content">{{item.content}}</p>
      </mat-card-content> -->
      <mat-card-content style="
        position: absolute;
        bottom: 0;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;">Chỉ từ
        <span
          style="color: orangered;
            font-weight: bolder;
            font-size: 20px;">
          {{item.price_reduce.toLocaleString('en-us', {minimumFractionDigits: 0})}}đ</span>
        <span
          *ngIf="item.percent !== 0"
          style="padding-left: 1rem;
          text-decoration: line-through;
          color: #a7a7a7;">{{item.price.toLocaleString('en-us', {minimumFractionDigits: 0})}}đ</span>
      </mat-card-content>
      <div class="percent" *ngIf="item.percent !== 0">
        <span class="percent-item">{{item.percent}}%</span>
      </div>
    </mat-card>
  </div>
</div>





<!-- <app-tickets-all></app-tickets-all> -->
