<div style="margin-left: 2rem;">
  <mat-card-title>
    <mat-icon
          matBadge="{{countCart}}"
          matBadgePosition="before"
          matBadgeColor="accent"
          class="material-icons"
          style="padding-right: 0.5rem;" color="primary">add_shopping_cart</mat-icon>
        <span>Giỏ hàng</span>
  </mat-card-title>
</div>

<section class="cart">
  <table>
    <thead style="width: 100%;">
      <mat-card class="option">
        <div>
          <mat-checkbox
              (change)="setAll($event.checked)">Tất cả
            </mat-checkbox>
        </div>
        <div>
          <td><button mat-stroked-button color="primary" (click) = "deleteServiceExpired()">Xóa các dịch vụ hết hạn</button></td>
          <td><button mat-stroked-button color="accent" (click) = "deleteServiceIsSelected()">Xóa các dịch vụ đã chọn</button></td>
        </div>
      </mat-card>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemStill; index as i">
        <mat-card style="display: flex;
        align-items: center;width: 100%; ">
          <td>
            <mat-checkbox
              (change)="setSome($event.checked, i)"
              [checked] = 'allComplete[i]'></mat-checkbox>
          </td>
          <td><img [src] = "item.imageTicket" width="100px" height="100px"></td>
          <td class="infoName">
            <h4 class="nameTicket" [routerLink]="['/detail/', item.idTicket]">{{item.nameTicket}}</h4>
            <p class="nameService">Loại dịch vụ: {{item.itemService[0].name}}</p>
            <p style="font-weight: bolder;">{{item.dateStart + ' - ' + item.dateEnd}}</p>
          </td>
          <!-- <td class="date">
            <p>{{item.dateStart + ' - ' + item.dateEnd}}</p>
            <p>(Giờ địa phương)</p>
          </td> -->
          <td class="uni">
            <section class="uniNumPrice" *ngFor="let itemNum of item.itemService; index as iNum">
              <div>{{itemNum.itemServiceName}}</div>
              <div class="btn-add-sub">
                <button mat-stroked-button color="primary"
                  (click)="addQuantity(i, iNum)">
                  <mat-icon>add</mat-icon>
                </button>
                  <input [value]="itemNum.quantity" style="height: 27px; width: 27px;">
                <button mat-stroked-button color="primary"
                  (click)="subtractQuantity(i, iNum)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </section>
          </td>
          <td colspan="7">
            <!-- <div> -->
              <div style="font-style: 18px; padding-top: 0.5rem; font-weight: bold; color: red; text-align: center;">
                <h2>{{priceItemStill[i].toLocaleString('en-us', {minimumFractionDigits: 0})}}đ</h2>
              </div>
              <div style="display: flex;">
              <button mat-stroked-button color="primary" [routerLink]="['/detail/update', item.id]">Sửa</button>
                <button mat-stroked-button color="accent" (click) = "deleteOne(item.id)">Xóa</button>
              </div>


            <!-- </div> -->
          </td>
        </mat-card>
      </tr>

      <tr *ngFor="let item of itemExpired; index as i">
        <mat-card style="width: 100%;">
          <td>
            <mat-checkbox disabled = "true"></mat-checkbox>
          </td>
          <td><img [src] = "item.imageTicket" width="100px" height="50px"></td>
          <td class="infoName">
            <h4 class="nameTicket">{{item.nameTicket}}</h4>
            <p class="nameService">Loại dịch vụ: {{item.itemService.name}}</p>
          </td>
          <td class="date">
            <p>{{item.dateStart + ' - ' + item.dateEnd}}</p>
            <p>(Giờ địa phương)</p>
          </td>
          <td class="uni">
            <section class="uniNumPrice" *ngFor="let itemNum of item.itemService">
              <div>{{itemNum.itemServiceName}}</div>
              <div class="btn-add-sub">
                <button mat-stroked-button color="primary">
                  <mat-icon>add</mat-icon>
                </button>
                  <input
                    [value]="itemNum.quantity"
                    style="height: 30px; width: 30px;">
                <button mat-stroked-button color="primary">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </section>
          </td>
          <td colspan="7">
            <div>
              <button mat-button (click) = "deleteOne(item.id)">Xóa</button>
              <div style="font-style: 18px; padding-top: 0.5rem; font-weight: bold; color: red; text-align: center;">
              <h2>{{priceItemExpired[i].toLocaleString('en-us', {minimumFractionDigits: 0})}}đ</h2></div>
            </div>
          </td>
        </mat-card>
      </tr>
    </tbody>
  </table>

  <mat-card class="total">
    <div>{{countServiceSelect}} x đơn hàng được chọn</div>
    <div><h3>Tổng cộng</h3></div>
    <div><h2 style="color: red;">{{priceTotal.toLocaleString('en-us', {minimumFractionDigits: 0})}}đ</h2></div>
    <button mat-raised-button color="warn" (click) = "payCart()">Thanh toán ngay</button>
  </mat-card>
</section>

