.mat-card {
  padding: 1rem;
}

p {
  line-height: 1.5rem;
}

.nameService {
  max-width: 300px;
  word-wrap: break-word;
}

.cart {
  display: flex;
  position: relative;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

tr {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
td {
  padding: 0.5rem;
}
.btn-add-sub {
  display: flex;
  height: 30px;
  padding: 0.5rem 0;
}

.btn-add-sub > button {
  display: flex;
  align-items: center;

}

.total {
  text-align: center;
  height: fit-content;
  width: 20%;
  top: 20%;
}

.price_last {
  position: absolute;
  right: 0;
  padding-right: 2rem;
}
.item_expired {
  color: #cacaca;
}

.infoName {
  width: 37%;
}
.nameTicket {
  font-weight: bold;
  cursor: pointer;
}
.nameTicket:hover {
  color: blueviolet;
}