<mat-sidenav-container class="example-container">
<mat-toolbar class="example-toolbar">

  <div routerLink="/home" style="display: flex; align-items: center; padding-left: 9rem;">
    <img src="../../../assets/icon/brand.svg" style="width: 35px; height: 35px;">
    <div style="padding-left: 0.5rem;">
      <h1 class="logo_detail" style="color: rgb(153, 44, 255);">
        <span style="color: rgb(102, 160, 247);">Trip</span>
        <span>Cheap</span>
      </h1>
    </div>
  </div>
  <span class="spacer"></span>

  <ul style="padding-right: 10rem;">
    <li>
      <button
        mat-button
        routerLinkActive="mat-primary"
        (click) = 'navigateCart()'
        (mouseover)="showCart($event)"
        (mouseout)="showCart($event)"
        >
        <mat-icon
          matBadge="{{countCart}}"
          matBadgePosition="before"
          matBadgeColor="accent"
          class="material-icons"
          style="padding-right: 0.5rem;" color="primary">add_shopping_cart</mat-icon>
        <span>Giỏ hàng</span>
      </button>


      <mat-menu *ngIf="isShowCart" #menu1 = "matMenu" class="menuCart" style="width: 500px;">
        <mat-card
          *ngFor="let cartItem of cart" style="min-width: 500px;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img [src]= "cartItem.imageTicket" width="50px" height="50px">
            </div>
            <mat-card-title>{{cartItem.nameTicket}}</mat-card-title>
            <mat-card-subtitle>{{cartItem.itemService[0].name}}</mat-card-subtitle>
            <mat-card-subtitle *ngFor="let item of cartItem.itemService">
              {{item.quantity + ' ' + item.itemServiceName}}
            </mat-card-subtitle>
            <mat-card-subtitle>{{cartItem.dateStart + ' - ' + cartItem.dateEnd}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-menu>
    </li>

	  <li *ngIf='userIsAuthenticated'>
      <mat-card-header>
        <button
          class="btn_username"
          mat-button
          [matMenuTriggerFor]="menu"
          routerLinkActive="mat-accent">
          <span style="font-weight: bolder;">{{username}}</span>
        </button>
        <div mat-card-avatar style="margin: 0 1rem; position: absolute; text-align: center; display: flex; justify-content: center;">
          <div class="img_avt">
              <h1>{{characterAvt}}</h1>
          </div>
        </div>

      </mat-card-header>

      <mat-menu #menu = "matMenu">
        <button mat-menu-item routerLink="/order" > Đơn hàng </button>
        <button mat-menu-item routerLink = "setting" > Cài đặt tài khoản </button>
        <button mat-menu-item routerLinkActive="mat-primary" (click) = 'onLogout()'>Đăng xuất</button>
      </mat-menu>
	  </li>

    <li *ngIf='!userIsAuthenticated'>
      <button
      mat-button
      routerLink = "/login"
      routerLinkActive = "mat-primary">
      <span>Đăng nhập</span>
      </button>
	  </li>
  </ul>
</mat-toolbar>

<div class="example-sidenav-content" style="padding-top: 2rem;">
  <router-outlet></router-outlet>
</div>

<div class="footer" style="padding-top: 11rem;">
  <app-footer></app-footer>
</div>
</mat-sidenav-container>
