ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.spacer {
  flex: 1 1 auto;
}
mat-icon{
  padding-right: 1rem;
}

.example-toolbar{
  position: fixed;
  z-index: 2;
  /* box-shadow:  5px 5px 5px #f1f1f1; */
  border-bottom: 0.5px solid #f1f1f1;
  background-color: white;
}

.example-container {
  position: relative;
  background-color: none !important;
  height: 100vh;
}
.example-sidenav-content {
  position: relative;
  top: 3;
  top: 5rem;
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.mat-menu-panel {
  width: 600px;
}

.btn_username {
  padding: 0 2rem;
  border-radius: 50px;
  background-color: #f1f1f1;
}

.logo_detail {
  font-weight: bolder;
  font-size: 30px;
}
.cart-show {
  width: fit-content; 
  padding: 1rem 1rem;
  height: max-content; 
  background-color: #f1f1f1;
  position: absolute; 
  top: 50px;
  right: 121px;
  z-index: 1;
  border-radius: 10px;
}
