<!-- <mat-sidenav-container class="example-container"> -->
  <mat-toolbar class="example-toolbar">

    <div 
      routerLink="/home" 
      style="cursor: pointer;">
      <app-logo-icon></app-logo-icon>
    </div>
    <span class="spacer"></span>

    <ul
      style="padding-right: 10rem;">
      <li
        (click)='navigateCart()'
        (mouseover)="showCart($event)"
        (mouseout)="showCart($event)"
        style="border-radius: 20px 20px 0 0;"
        [ngStyle]="{'background-color': isShowCart && cart ? '#f1f1f1' : 'white' }">
        <button
          style="position: relative;"
          mat-button
          routerLinkActive="mat-primary"
          color="primary"
        >
          <mat-icon
            matBadge="{{countCart}}"
            matBadgePosition="before"
            matBadgeColor="accent"
            class="material-icons"
            style="padding-right: 0.5rem;" 
            color="primary">add_shopping_cart</mat-icon>
          <span>Giỏ hàng</span>
        </button>
        <div
          *ngIf="isShowCart && cart"
          class="cart-show">
          <div
            *ngFor="let cartItem of cart">
            <app-cart-item [cart]="cartItem"></app-cart-item>
          </div>
        </div>
      </li>

      <li *ngIf='userIsAuthenticated'>
        <mat-card-header>
          <app-avatar-account 
            [characterAvt]='characterAvt'>
          </app-avatar-account>

          <button
            class="btn_username"
            mat-button
            [matMenuTriggerFor]="menu"
            routerLinkActive="mat-accent">
            <span style="font-weight: bolder;">{{username}}</span>
          </button>
        </mat-card-header>

        <mat-menu #menu="matMenu">
          <button 
            mat-menu-item 
            routerLink="/order"> Đơn hàng </button>
          <button 
            mat-menu-item 
            routerLink="setting"> Cài đặt tài khoản </button>
          <button 
            mat-menu-item 
            routerLinkActive="mat-primary"
            (click)='onLogout()'>Đăng xuất</button>
        </mat-menu>
      </li>

      <li *ngIf='!userIsAuthenticated'>
        <button
          mat-button
          routerLink = "/login"
          routerLinkActive = "mat-primary">
        <span>Đăng nhập</span>
        </button>
      </li>
    </ul>
  </mat-toolbar>

  <!-- <div class="example-sidenav-content" style="padding-top: 2rem;">
    <router-outlet></router-outlet>
  </div>

  <div class="footer" style="padding-top: 11rem;">
    <app-footer></app-footer>
  </div>
</mat-sidenav-container> -->
