<mat-sidenav-container class="example-container">
<mat-toolbar class="example-toolbar">
  <span>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
  </span>
  <span class="spacer"></span>
  <ul>
	<!-- <span *ngIf='userIsAuthenticated'><img [src] = "user.imageAvt || ''" width="35px" height="35px" style="border-radius: 50%;"></span> -->
	  <li *ngIf='userIsAuthenticated'>
      <button
      mat-button
      [matMenuTriggerFor]="menu"
      routerLinkActive="mat-accent">
      <span>{{username}}</span>
      </button>
      <mat-menu #menu = "matMenu">
        <button mat-menu-item (click) = "showChild('setting')" > Đơn hàng </button>
        <button mat-menu-item (click) = "showChild('setting')" > Thông tin chi tiết </button>
        <button mat-menu-item routerLinkActive="mat-accent" (click) = 'onLogout()'>Đăng xuất</button>
      </mat-menu>
	  </li>
    <li *ngIf='!userIsAuthenticated'>
      <button
      mat-button
      routerLink = "/login"
      routerLinkActive="mat-accent">
      <span>Login</span>
      </button>
	  </li>
    <li>
      <button
        mat-button
        matBadge="{{countCart}}"
        matBadgePosition="before"
        matBadgeColor="accent"
        [matMenuTriggerFor] = 'menu1'
        routerLinkActive="mat-accent"
        routerLink="/cart"
        >
        <span>Giỏ hàng</span>
      </button>
      <mat-menu #menu1 = "matMenu" class="menuCart" style="width: 500px;">
        <mat-card
          *ngFor="let cartItem of cart" style="min-width: 500px;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img [src]= "cartItem.imageTicket" width="50px" height="50px">
            </div>
            <mat-card-title>{{cartItem.nameTicket}}</mat-card-title>
            <mat-card-subtitle>{{cartItem.itemService[0].name}}</mat-card-subtitle>
            <mat-card-subtitle *ngFor="let item of cartItem.itemService">
              {{item.quantity + ' ' + item.itemServiceName}}</mat-card-subtitle>
            <mat-card-subtitle>{{cartItem.dateStart + ' - ' + cartItem.dateEnd}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <!-- <button mat-menu-item *ngFor="let cartItem of cart">
          {{cartItem.nameTicket}}
        </button> -->
      </mat-menu>
    </li>
  </ul>
</mat-toolbar>

<div class="example-sidenav-content">
  <router-outlet></router-outlet>
</div>


</mat-sidenav-container>
