ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.spacer {
  flex: 1 1 auto;
}
mat-icon{
  padding-right: 1rem;
}

.example-toolbar{
  position: fixed;
  z-index: 9999;
  box-shadow:  5px 5px 5px #f1f1f1;
  border-bottom: 0.5px solid #f1f1f1;
  background-color: white;
}

.example-container {
  background-color: none !important;
  height: 100vh;
}
.example-sidenav-content {
  position: relative;
  top: 3;
  top: 5rem;
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.mat-menu-panel {
  width: 600px;
}

.btn_username {
  padding: 0 2rem;
  border-radius: 50px;
  background-color: #f1f1f1;
}

.img_avt {
  /* border: 2px solid pink; */
  font-weight: bolder;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(102, 160, 247);
}
.img_avt > h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 3px;
}

.logo_detail {
  font-weight: bolder;
  font-size: 30px;
}

