<section style="display: flex;">
    <mat-card style="flex: 30%;">
        <div style="text-align: center; display: flex; justify-content: center; padding: 1rem;">
            <div class="img_avt">
                <h1>{{characterAvt}}</h1>
            </div>
        </div>
        <div style="text-align: center;">
          <h1>{{infoCustomer.username}}</h1>
        </div>
        <mat-divider></mat-divider>
        <div>
            <tr>
                <td>Họ và tên: </td>
                <td>{{infoCustomer.fullName}}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{infoCustomer.email}}</td>
            </tr>
            <tr>
                <td>Số điện thoại: </td>
                <td>+{{infoCustomer.phoneNumber}}</td>
            </tr>
            <tr>
                <td>Địa chỉ: </td>
                <td>{{infoCustomer.address}}</td>
            </tr>
            <tr>
                <td>Đơn đã đặt: </td>
                <td>{{ArrayOrderTotal.length}}</td>
            </tr>
            <tr>
                <td>Đơn đã hủy: </td>
                <td>{{ArrayOrderTotal[2].arrOrders.length}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <button mat-stroked-button color = "primary" style="width: 100%;" (click) = "navigateSetting()" >Cài đặt</button>
              </td>
            </tr>

        </div>
    </mat-card>

    <mat-tab-group mat-align-tabs="center"  style="flex: 70%;">
        <mat-tab *ngFor="let itemTab of ArrayOrderTotal; index as indexTab">
            <ng-template mat-tab-label>
                <span
                    matBadge="{{itemTab.arrOrders.length}}"
                    matBadgeSize="medium"
                    matBadgePosition="before" style="padding-left: 1rem;">{{itemTab.label}}</span>
            </ng-template>

            <section>
                <div *ngIf="itemTab.arrOrders.length === 0" style="padding-top: 1rem; text-align: center;">
                  <span>Bạn chưa có {{itemTab.label}} nào! </span>
                </div>
                <mat-card *ngFor="let item of itemTab.arrOrders; index as i" style="width: 800px;">
                    <table>
                        <tr style="flex: 100%;">
                            <td>{{item.orders.dateStart + " - " + item.orders.dateEnd}}</td>
                            <td
                              *ngIf="item.orders.isConfirm && indexTab < 3"
                              colspan="2"
                              style="margin-right: 1rem; font-style: italic; color: #9a9a9b;">(đã xác nhận)</td>
                            <td
                              *ngIf="!item.orders.isConfirm && indexTab < 3"
                              colspan="2"
                              style="margin-right: 1rem; font-style: italic; color: #af4a8c;">(đang chờ xác nhận)</td>
                              <td
                              *ngIf="indexTab === 0 || indexTab === 2"
                              colspan="2"
                              [ngClass] = "{'colorExpired': item.dayLeft < 2}"
                              style="position: absolute; right: 0;">còn lại {{item.dayLeft}} ngày</td>
                            <td
                              *ngIf="indexTab === 1"
                              colspan="2"
                              [ngClass] = "{'colorExpired': item.dayLeft < 2}"
                              style="position: absolute; right: 0;">đã quá hạn {{item.dayLeft}} ngày</td>
                        </tr>
                        <mat-divider></mat-divider>
                        <tr>
                            <td rowspan={{ordersNotUse.length}} style="width: 250px;">
                                <h3>{{item.orders.nameTicket}}</h3>
                                <mat-card-title-sub>{{item.orders.itemService[0].name}}</mat-card-title-sub>
                            </td>
                            <div *ngFor="let itemService of item.orders.itemService">
                                <td style="width: 250px;">
                                    <div>{{itemService.quantity + ' x ' + itemService.itemServiceName}}</div>
                                </td>
                            </div>

                            <td rowspan={{ordersNotUse.length}} style="width: 100px;">
                                <div>{{item.price}}đ</div>
                            </td>
                            <td rowspan={{ordersNotUse.length}} style="width: 100px;" *ngIf="item.dayLeft > 1 && indexTab === 0">
                                <button mat-button mat-raised-button color="warn" (click) = "cancelOrder(item.orders.id)">Hủy</button>
                            </td>
                            <td rowspan={{ordersNotUse.length}} style="width: 100px;" *ngIf="indexTab === 2">
                                <button
                                    style="width: 100%;"
                                    mat-button
                                    mat-raised-button color="warn" (click) = "returnOrder(item.orders.id)">Hoàn đơn</button>
                            </td>
                        </tr>
                    </table>
                </mat-card>
            </section>
        </mat-tab>
    </mat-tab-group>
</section>




