.city {
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    /* width: 200px !important; */
    height: 200px !important;
    /* margin: 1rem; */
    background-color: rgba(0,0,0,0.5);
}
.name-city {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 28px;
    right: 0px;
    width: 100%;
}